.page {
    font-family: 'TT Lakes', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    font-size: 14px;
    background-color: var(--color-background);
    color: var(--color-gray);
    overflow-x: hidden;
    @media (min-width: $desktop) {
    display: flex;
    }
}
.main {
    background-color: var(--color-background);

}

.main__heading {
    font-size: 28px;
    padding-left: 16px;
    padding-top: 24px;
}

.main__heading::before {
    content: url(assets/global/icons/highlight.svg); 
    width: 4px;
    height: 40px;
    position: absolute;
    top: 112px;
    left: 0;
}

.continue-link {
    display: flex;
    column-gap: 16px;
    font-weight: 500;
    color: var(--color-dark);
    text-decoration: none;
    margin-left: 24px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.landing-page {
    @media (min-width: $desktop) {
        flex: 1;
        width: 78vw;
    }
}

.header-swiper, .swiper-second__header, .price-list__header {
    background-image: linear-gradient(to right, var(--color-background), white);
    border-top: var(--border-light);
    height: 80px;
  
  
  }

  .swiper-pagination, .swiper-second__pagination, .price-list__pagination {
    margin-top: 16px;
    position: static;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
  
    @media (min-width: $tablet) {
      margin: 0;
    }
  }

  .swiper-container, .swiper-second__container, .price-list__swiper-wrapper {
    margin-left: 16px;
    overflow: hidden;

    @media (min-width: $tablet) {
      margin-left: 24px;
    }
  }

  .swiper-second__header, .price-list__header, .header-swiper {
    margin-bottom: 16px;
  }
  
  .swiper-second__pagination-bullet, .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: var(--pagination-bullet-color);
    margin: 6px;
  }
  
  .swiper-second__pagination-bullet--active, .swiper-pagination-bullet--active {
    background-color: var(--pagination-active-bullet-color);
  }