:root {

  --border: 2px solid #b8ffec;
  --border-radius: 6px;
  --price-list-border-radius: 8px;
  --border-light: 2px solid #d9fff5;
  --brand-item-border: 1px solid #eaeaea;
  --input-border: 1px solid #eaeaea;

  --transition-duration: 0.2s;

  --pagination-bullet-color: #979797;
  --pagination-active-bullet-color: #b5b6bc;

  --color-dark: #1b1c21;
  --color-gray: #7e7e82;
  --color-input-placeholder: #b5b6bc;
  --color-accent: #41f6d7;
  --color-background: #f8f8f8;
  --color-menu-background: #fff;
  --color-pink: #ff3e79;
  --color-slide: white;
  --color-price-list-line: #eaeaea;

  --box-shadow: 25px 0px 50px -3px rgba(11, 20, 66, 0.25);

  --border-radius: 6px;
  --border: 2px solid #b8ffec;

  --transition-duration: 0.3s;
}
