.footer {
  border-top: var(--border-light);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
  text-align: center;

  &__text {
    color: var(--color-gray);
    margin-bottom: 16px;
    line-height: 115%;
  }

  &__link {
    @include reset-link;
    @include hover {
      color: var(--color-dark);
    }
    color: var(--color-gray);
  }

  @media (min-width: $tablet-s) {
    flex-direction: row;
    text-align: start;
    align-items: flex-start;
    padding-top: 32px;

    &__text {
      width: 220px;
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop) {

    &__text {
        width: 330px;
    }
  }
}
