.menu {
  display: none;
  overflow-x: hidden;

  &--visible {
    display: grid;
    grid-template-columns: auto 1fr;
    position: absolute;
    z-index: 20;
    overflow-x: hidden;
  }

  &__body {
    position: absolute;
    overflow-x: hidden;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      box-shadow: var(--box-shadow);
      z-index: -1;
    }

    @media (min-width: $desktop) {
      position: relative;
    }
  }

  &__backdrop {
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.15);
    height: 100vh;

    @media (min-width: $desktop) {
      @include visually-hidden;
    }
  }

  &__close-button {
    @media (min-width: $desktop) {
      @include visually-hidden;
    }
  }

  &__container {
    width: 320px;
    height: 100vh;
    display: flex;
    background-color: var(--color-menu-background);
    flex-direction: column;
    padding: 20px 30px 0 24px;
    row-gap: 30px;

    @media (min-width: $desktop) {
      height: clamp(676px, 98vh, 1024px);
      padding: 30px 30px 0 24px;
      box-shadow: none;
    }

    @media (min-height: $desktop-height) {
      row-gap: auto;
      justify-content: space-between;
    }
  }

  &__header,
  &__logo,
  &__buttons-list,
  &__languages-list {
    display: flex;
    flex-direction: row;
  }

  &__languages-list {
    column-gap: 10px;
    margin-bottom: 32px;
  }

  &__buttons-list {
    gap: 16px;
    margin-bottom: clamp(8px, 1.56vh, 16px);
  }

  &__email {
    @include reset-link;
    display: block;
    line-height: 24px;
    margin-bottom: 1.17vh;
  }

  &__phone {
    @include reset-link;
    display: block;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.6px;
    margin-bottom: 8px;
    @media (min-width: $desktop) {
      margin-bottom: clamp(20px, 3.9vh, 40px);
    }
  }

  &__header {
    justify-content: space-between;
  }

  &__upper-part {
    display: flex;
    flex-direction: column;
    row-gap: 4.49vh;
  }

  &__buttons-list,
  &__languages-list {
    display: flex;
    flex-direction: row;
  }

  @media (min-width: $desktop) {
    display: block;
    background-color: var(--color-menu-background);
  }
}

.pages-links-list__link--is-active::before {
  position: absolute;
  content: url(assets/global/icons/highlight.svg);
  width: 4px;
  height: 32px;
  left: 0;
  margin-top: -10px;
}

.pages-links-list__item {
  margin: clamp(15px, 3.12vh, 32px) 0;
}

.pages-links-list__link,
.languages-list__link {
  text-decoration: none;
  color: var(--color-dark);
  font-size: 16px;
  user-select: none;
  transition-duration: var(--transition-duration);
}

.pages-links-list__link:not(.pages-links-list__link--is-active),
.languages-list__link:not(.languages-list__link--is-active) {
  @include hover {
    opacity: 0.7;
  }
}

.pages-links-list__link--is-active,
.languages-list__link--is-active {
  color: var(--color-gray);
}
