.price-list {
  position: relative;
  margin-bottom: 40px;

  @media (min-width: $tablet) {
    margin-bottom: 50px;
  }

  &__swiper-wrapper {
    display: flex;
    overflow: visible;
  }

  &__desktop-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    margin-bottom: 24px;

  }

  &__header {
    height: 55px;
  }

  &__info {
    margin-left: 16px;
    margin-bottom: 16px;

    @media (min-width: $mobile) {
        width: 85.65vw;
        
    }
    @media (min-width: $tablet) {
        margin-left: 24px;
        width: 55vw;
    }
    @media (min-width: $desktop) {
        width: 30vw;
    }
  }

  &__contact {
    display: inline-flex;
    flex-direction: row;

    @include reset-link;
    margin-left: 16px;

    @include hover {
        opacity: 0.8;
    }

    @media (min-width: $tablet) {
        margin-left: 24px;
    }


  }

}


.price-slide {
  display: flex;
  background-color: var(--color-slide);
  min-width: 260px;
  width: 260px;
  min-height: 200px;
  height: 200px;

  justify-content: space-between;
  align-items: center;
  border-radius: var(--price-list-border-radius);
  padding: 16px;
  max-height: 1300vh;


  &--desktop {
    min-width: 93.75vw;
    min-height: 65px;
    height: 65px;
    border-radius: 0;
    position: relative;

    @media (min-width: $desktop) {
        min-width: 73.34vw;
    }

    


    &:not(:last-child):not(:first-child)::after {
      content: '';
      width: 89.5vw;
      height: 1px;
      background-color: var(--color-price-list-line);
      position: absolute;
      bottom: 0;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: center;

      @media (min-width: $desktop) {
        width: 70vw;
      }
    }
  }

  &--desktop-table-header {
    background-color: transparent;
    height: 40px;
    min-height: 40px;
    padding: 0;
    padding-bottom: 16px;
    padding-left: 16px;
    align-items: end;
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;

    &--desktop {
      width: 93.75vw;
      display: grid;
      grid-template-columns: 45.6vw 9.75vw 10.42vw 15.6vw;
      column-gap: 3.125vw;

      @media (min-width: $desktop) {
        width: 73.34vw;
        grid-template-columns: 26.3vw 7.21vw 6.625vw 8.35vw;
        column-gap: 7.34vw;
      }
    }
  }

  &__category, .price-list__table-header {
    color: var(--color-gray);

    &--invisible {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
  }

  &__price,
  &__title {
    margin-bottom: 16px;

    &--desktop-view {
      margin-bottom: 0;
    }
  }

  &__price,
  &__title,
  &__time {
    &--desktop-view {
      display: flex;
      align-items: center;
    }
  }

  &__button {
    position: absolute;
    bottom: 0;
    align-self: self-end;

    &--desktop-view {
      position: static;
      justify-self: center;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 119px;
    height: 32px;
    border-radius: 20px;
    padding: 0 16px 0 12px;

    &-text {
      font-weight: 700;
      color: white;
    }
  }

  &:nth-of-type(2) {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  &:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

.price-list::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: -1.1vw;
  height: 200px;
  width: 24px;
  background-image: -webkit-linear-gradient(
    to right,
    rgba(52, 73, 94, 0),
    #f8f8f8
  );
  background-image: linear-gradient(to right, rgba(52, 73, 94, 0), #f8f8f8);
  z-index: 10;
}

.contact-text {
    margin-right: 8px;
}