.header-swiper, .swiper-second__header {
  background-image: linear-gradient(to right, var(--color-background), white);
  border-top: var(--header-border);
  height: 80px;

  @media (min-width: 376px) {
    height: 55px;
  }
}

.header-swiper__text {
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  text-align: left;
  padding: 16px;
  text-wrap: wrap;
  color: var(--color-gray);
}

.brand-item__button, .service-item__button {
  background-color: transparent;
  display: block;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--color-pink);
  cursor: pointer;
}

.service-item__button {
    align-self: flex-end;
}

.service-item__button, .swiper-second__text-wrapper {
    margin: 16px 0;
}

.service-list-show-all-button, .show-all-button {
    margin-bottom: 50px;
}

.swiper-container, .swiper-second__container {
  margin-top: 16px;
  margin-left: 16px;
  overflow: hidden;
}

.swiper-slide {
  background-color: white;
  display: flex;
  width: 240px;
  height: 72px;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--border-radius);
  border: var(--brand-item-border);
  padding-inline: 16px;
  max-height: 1300vh;
  transition: max-height 0.75s ease;

  @media (min-width: $tablet) {
    width: 224px;
  }

  @media (min-width: $desktop-s) {
    background-color: white;
    display: flex;
    width: 240px;
  }
}

.swiper-second__slide {
    display: flex;
    background-color: white;
    min-width: 224px;
    width: 224px;
    height: 160px;
    justify-content: space-between;
    border-radius: var(--border-radius);
    border: var(--brand-item-border);
    padding-inline: 16px;
    max-height: 1300vh;
    transition: max-height 0.75s ease;
  
    @media (min-width: $tablet) {
      width: 224px;
    }
  
    @media (min-width: $desktop-s) {
      background-color: white;
      display: flex;
      width: 240px;
    }
  }

.swiper-pagination, .swiper-second__pagination {
  margin-top: 16px;
  position: static;
}

.swiper-second__pagination-bullet, .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: var(--pagination-bullet-color);
  margin: 6px;
}

.swiper-second__pagination-bullet--active, .swiper-pagination-bullet--active {
  background-color: var(--pagination-active-bullet-color);
}

.brand-item__logo {
  max-height: 44px;
}



.brand-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 24px;
  row-gap: 16px;
  flex-wrap: wrap;

  @media (min-width: $desktop-s) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.service-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    column-gap: 24px;
    row-gap: 16px;
    flex-wrap: wrap;
  
    @media (min-width: $desktop-s) {
      grid-template-columns: repeat(4, 1fr);
    }
}

.swiper-horizontal::before {
  content: '';
  position: absolute;
  right: -1.1vw;
  height: 72px;
  width: 24px;
  background-image: -webkit-linear-gradient(
    to right,
    rgba(52, 73, 94, 0),
    #f8f8f8
  );
  background-image: linear-gradient(to right, rgba(52, 73, 94, 0), #f8f8f8);
  z-index: 10;
}

.show-all-button-clicked-element, .service-list-show-all-button-clicked-element {
  transform: rotate(180deg);
  transition-duration: var(--transition-duration);
}

.brand-slide--invisible, .service-slide--invisible {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.75s ease;
  position: absolute;
  top: 500px;
}

.show-all-button, .service-list-show-all-button {
  display: inline-flex;
  column-gap: 16px;
  font-weight: 500;
  color: var(--color-dark);
  text-decoration: none;
  margin-left: 31px;
  margin-top: 24px;
  cursor: pointer;
}
